@model ExpenseMonthViewModel

<h1 class="header">Maand overzicht ( @Model.Date.ToString("yyyy/MM") )</h1>

<div class="buttons">
    <a class="btn btn-primary" asp-area="" asp-controller="expenses" asp-action="month" asp-route-Date=@Model.Date.AddMonths(-1) >Vorige maand</a>
    <a class="btn btn-primary" asp-area="" asp-controller="expenses" asp-action="month" asp-route-Date=@Model.Date.AddMonths(1) >Volgende maand</a>
</div>

@if (Model.Highest == null && Model.Lowest == null && Model.MostExpensiveDate == null && Model.MostExpensivCategory == null && Model.CheapestCategory == null)
{
    <p style="text-align:center">Geen data beschikbaar.</p>
}
else
{
    <div class="flex-row">
        <div>
            <h2>Hoogste uitgaven</h2>
            <p>Omschrijving : @Model.Highest.Description</p>
            <p>Bedrag : @Model.Highest.Value €</p>
            <a class="btn btn-primary" style="width:100%" asp-area="" asp-controller="expenses" asp-action="detail" asp-route-id="@Model.Highest.Id">Link</a>
        </div>
        <div>
            <h2>Laagste uitgaven</h2>
            <p>Omschrijving : @Model.Lowest.Description</p>
            <p>Bedrag : @Model.Lowest.Value €</p>
            <a class="btn btn-primary" style="width:100%" asp-area="" asp-controller="expenses" asp-action="detail" asp-route-id="@Model.Lowest.Id">Link</a>
        </div>
    </div>
    <div class="flex-row">
        <div>
            <h2>Duurste dag</h2>
            <p>Datum : @Model.MostExpensiveDate.Description</p>
            <p>Bedrag : @Model.MostExpensiveDate.Value €</p>
        </div>
        <div>
            <h2>Duurste categorie</h2>
            <p>Omschrijving : @Model.MostExpensivCategory.Description</p>
            <p>Bedrag : @Model.MostExpensivCategory.Value €</p>
        </div>
        <div>
            <h2>Goedkoopste categorie</h2>
            <p>Omschrijving : @Model.CheapestCategory.Description</p>
            <p>Bedrag : @Model.CheapestCategory.Value €</p>
        </div>
    </div>

}


<style>
    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 25px;
    }

    .flex-row > div {
        width: 350px
    }

    .buttons {
        justify-content: space-between;
        display: flex;
    }

    .header {
        text-align: center;
        padding: 30px;
    }
</style>