@model IEnumerable<MovieListViewModel>


<h1>Movies</h1>

<a asp-controller="movie" asp-action="create">
    Toevoegen
</a>

@if (Model == null || !Model.Any())
{
    <p>Er zijn geen films!</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th class="header-title">Title</th>
                <th class="header-description">Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Description</td>
                    <td>
                        <a asp-controller="movie" asp-action="detail" asp-route-id="@movie.Id">
                            <input type="button" class="btn btn-primary" value="Detail" />
                        </a>
                    </td>
                    <td>
                        <a asp-controller="movie" asp-action="Edit" asp-route-id="@movie.Id">
                            <input type="button" class="btn btn-primary" value="Edit" />
                        </a>
                    </td>
                    <td>
                        <a asp-controller="movie" asp-action="Delete" asp-route-id="@movie.Id">
                            <input type="button" class="btn btn-primary" value="Delete" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div style="display:flex;">
    <div>
        <img src="~/MovieCovers/28 Platoon.jpg" />
    </div>
    <div>
        <img src="~/MovieCovers/40 Scream.jpg" />
    </div>
    <div>
        <img src="~/MovieCovers/black-panther-web.jpg" />
    </div>
</div>

<style>
    .header-title {
        width: 200px;
    }

    .header-description {
        width: 500px;
    }

    thead > tr {
        font-size: 20px;
    }

    tbody > tr > td:first-of-type {
        font-weight: bold;
    }

    img {
        height: 250px;
        width: 200px
    }
</style>