@model IEnumerable<ContactListViewModel>

<h1>Contactenlijst</h1>
<a asp-controller="contacten" asp-action="create">Create</a>

@if (Model == null || !Model.Any())
{
    <strong>Geen contacten</strong>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Categorie</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Category</td>
                <td>
                    <a asp-controller="contacten" asp-action="detail" asp-route-id="@item.Id">Detail</a>
                </td>
                <td>
                    <a asp-controller="contacten" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a asp-controller="contacten" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}